<!DOCTYPE html>
<html>
  <head>
    <title>Spellbook</title>
    <link rel="stylesheet" href="css/compiled.css">
  </head>
  <body>
    <div id="main"><%- markup -%></div>
    <script src="/js/compiled.js"></script>
  </body>
</html>
