<!DOCTYPE html>
<html>
  <head>
    <title>Spellbook</title>
    <link href="https://fonts.googleapis.com/css?family=Bitter|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/css/compiled.css">
    <script src="https://use.fontawesome.com/572fb28d9d.js"></script>
  </head>
  <body>
    <div id="main"><%- markup -%></div>
    <script>
      window.__PRELOADED_STATE__ = <%- preloadedState -%>;
    </script>
    <script src="/js/compiled.js"></script>
  </body>
</html>
